*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100vw;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  height: 400px;
  width: 400px;
  background-color: rgb(231, 106, 106);
  border: solid rgb(229, 128, 128);
  display: grid;
  grid-template-columns: repeat(15,auto) ;
  grid-template-rows: repeat(15,auto);
  
}

.grid-item{
  border: 0.01px solid rgb(238, 129, 129);

}

.grid-item:hover{
  background-color: rgb(211, 91, 91);
	color: whitesmoke;
	transform: scale(1);
  /* border: none; */
}

.selected{
  background-color: aliceblue;
  border: none;
}

.selected:hover{
  background-color: aliceblue;
}