*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: beige;
}


.outer-circle{
  border: 13px solid rgb(113, 55, 221) ;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position:relative;
  margin: auto;
  background-color: rgb(201, 245, 245);

}

.in-circle{
  border: 3px solid rgb(18, 8, 75);
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 135px;
  top: 134px;
  z-index: 5;


}

.cont{
  border: 2px solid beige;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second{
  border-left: 2px solid red;
  height: 130px;
  /* width: 10px; */
  position: absolute;
  top: 10px;
  left: 137px;
  animation-name: a;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

@keyframes a {
  0%  {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}

}

.minute{
  border-left: 2px solid rgb(92, 223, 103);
  height: 115px;
  /* width: 10px; */
  position: absolute;
  top: 25px;
  left: 137px;
  animation-name: a;
  animation-duration: 3600s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hour{
  border-left: 2px solid rgb(199, 105, 50);
  height: 100px;
  /* width: 10px; */
  position: absolute;
  top: 40px;
  left: 137px;
  animation-name: a;
  animation-duration: 43200s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.minute, .second, .hour {
  transform-origin: bottom;

}